<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loteria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Loteria Mexicana</h1>
    <div class="grid">
        {% for row in range(rows) %}
            {% for col in range(cols) %}
                <div class="cell" style="background-color: black ;">
                                        {{ row*4 + col + 1 }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>