<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>¿ Quires conoser tu futuro ?</h1>
    <h4>Ingresa las respuestas y te diremos tu destino</h4>
    <form action="/" method="post">
        <label for="nombre1">Tu nombre :</label>
        <input type="text" name="nombre1">
        <label for="nombre2">Un lugar :</label>
        <input type="text" name="nombre2">
        <label for="nombre3">Un numeró de (0-20) :</label>
        <input type="text" name="nombre3">
        <label for="nombre4">Tu comida favorita :</label>
        <input type="text" name="nombre4">
        <input type="submit" value="Ver mi destino">
    </form>
</body>
</html>